<title>Backbone | NoteApp</title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script src="/js/lib/jquery.js"></script>
<script type="text/javascript" src="./js/lib/underscore.js"></script>
<script type="text/javascript" src="./js/lib/backbone.js"></script>
<script type="text/javascript" src="js/lib/backbone.localStorage.js"></script>

